.site-branding {
    display: flex;
    align-items: center;
    flex: 1 0 auto;

    .site-title {
        font-size: 37px;
        line-height: 40px;
        letter-spacing: .05em;
        font-weight: 700;
        margin: 0;
        display: block;
        font-family: $font__heading;

        a {
            color: inherit;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .site-description {
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.295em;
        margin: 0;
    }

    .custom-logo {
        display: block;
        margin-right: 10px;
    }
}

body {
    &:not(.menu-opened) {
        .site-header.absolute {
            color: #fff;

            .custom-logo-link {
                display: none;

                &.light {
                    display: inline-block;
                }
            }
        }
    }

    &.menu-opened {
        .custom-logo-link.light {
            display: none;
        }
    }
}

.site-header {
    position: relative;
    padding: 20px 10px;
    @include respond-to(sm) {
        padding: 40px 25px;
    }
    @include respond-to(md) {
        padding: 60px 50px;
    }

    &.absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    &-container {
        @include container-wide;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include respond-to(sm) {
            flex-wrap: nowrap;
        }
    }

    .default-navigation {
        display: flex;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        margin-bottom: 20px;
        z-index: 20;
        @include respond-to(sm) {
            margin-bottom: 0;
        }

        .header-menu-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .navigation-container {
        display: flex;
        align-items: center;
        flex: 1 0 auto;
        justify-content: flex-end;
        @include respond-to(sm) {
            flex: 0 1 auto;
        }

        > * {
            margin-left: 20px;
        }
    }

    .site-branding,
    .header-menu-container,
    .header-socials-container {
        z-index: 20;
    }

    .header-dropdown {
        &.toggled-on {
            .header-dropdown-content {
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }

        &-content {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
            transition: .5s ease-out;
            overflow: hidden;
            position: absolute;
            background: $color__background-body;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            height: 100vh;
            padding: 150px 10px 20px;
            @include respond-to(sm) {
                padding: 150px 25px 30px;
            }
            @include respond-to(md) {
                padding: 200px 50px 50px;
            }
            @include respond-to(lg) {
                padding: 250px 50px 50px;
            }

            &-wrapper {
                @include container-wide;
                display: flex;
                flex-direction: column;
                height: 100%;
                flex: 1 0 50%;
            }
        }
    }

    .header-dropdown-toggle {
        padding: 10px 20px;
        @include respond-to(sm) {
            padding: 25px 30px;
        }
        @include respond-to(md) {
            padding: 35px 30px;
        }
        background: $themeColor1;
        position: relative;
        z-index: 20;

        &:hover {
            background: $themeColor2;
        }
    }

    .main-navigation {
        overflow: auto;
        margin-bottom: 50px;
    }

    .header-sidebar {
        font-size: 13px;
        max-height: 100px;
        overflow: auto;
        @include respond-to(sm) {
            max-height: 200px;
            font-size: 15px;
        }
        @include respond-to(md) {
            font-size: 18px;
        }

        &-wrapper {
            margin-top: auto;
            border-top: 2px solid $themeColor3;
            padding-top: 50px;
        }
    }
}

body {
    &.menu-opened {
        overflow: hidden;
    }
}