/*!
 * Getwid Style Kit v1.0.0
 * Copyright 2020 MotoPress
 * Import this file to the sass/scss file of your theme, which is to be loaded in block editor.
 * Example: @import "getwid-style-kit/scss/editor"
 *
 * For more information visit https://github.com/mototeam/
 * License GNU GPL v2 or later.
 */
/* common block styles */
.entry-content > * {
	max-width: 780px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.entry-content > *:last-child {
	margin-bottom: 0;
}

.entry-content > *.alignwide {
	max-width: 1620px;
}

.entry-content > *.alignfull {
	width: auto;
	max-width: none;
	margin-left: -10px;
	margin-right: -10px;
}

@media (min-width: 768px) {
	.entry-content > *.alignfull {
		margin-left: -25px;
		margin-right: -25px;
	}
}

@media (min-width: 992px) {
	.entry-content > *.alignfull {
		margin-left: -50px;
		margin-right: -50px;
	}
}

/* wp-block-paragraph styles */
/* wp-block-image styles */
.wp-block-image .alignleft {
	margin-right: 40px;
	margin-bottom: 30px;
}

.wp-block-image .alignright {
	margin-left: 40px;
	margin-bottom: 30px;
}

.wp-block-image .aligncenter {
	margin-bottom: 30px;
}

.wp-block-image img {
	display: block;
}

.wp-block-image figcaption {
	margin: 10px 0 0;
	text-align: center;
	font-size: 13px;
}

/* wp-block-gallery styles */
.wp-block-gallery.alignleft, .wp-block-gallery.alignright {
	max-width: 50%;
}

.wp-block-gallery .blocks-gallery-caption {
	width: 100%;
	font-size: 13px;
	text-align: center;
}

.wp-block-gallery.columns-1 .blocks-gallery-item {
	width: 100%;
	margin-right: 0;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.wp-block-gallery.columns-1 .blocks-gallery-item {
		width: calc((100% - 16px * 0) / 1);
		margin-right: 16px;
	}
	.wp-block-gallery.columns-1 .blocks-gallery-item:last-child, .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n) {
		margin-right: 0;
	}
}

.wp-block-gallery.columns-2 .blocks-gallery-item {
	width: 100%;
	margin-right: 0;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.wp-block-gallery.columns-2 .blocks-gallery-item {
		width: calc((100% - 16px * 1) / 2);
		margin-right: 16px;
	}
	.wp-block-gallery.columns-2 .blocks-gallery-item:last-child, .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n) {
		margin-right: 0;
	}
}

.wp-block-gallery.columns-3 .blocks-gallery-item {
	width: 100%;
	margin-right: 0;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.wp-block-gallery.columns-3 .blocks-gallery-item {
		width: calc((100% - 16px * 2) / 3);
		margin-right: 16px;
	}
	.wp-block-gallery.columns-3 .blocks-gallery-item:last-child, .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n) {
		margin-right: 0;
	}
}

.wp-block-gallery.columns-4 .blocks-gallery-item {
	width: 100%;
	margin-right: 0;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.wp-block-gallery.columns-4 .blocks-gallery-item {
		width: calc((100% - 16px * 3) / 4);
		margin-right: 16px;
	}
	.wp-block-gallery.columns-4 .blocks-gallery-item:last-child, .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n) {
		margin-right: 0;
	}
}

.wp-block-gallery.columns-5 .blocks-gallery-item {
	width: 100%;
	margin-right: 0;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.wp-block-gallery.columns-5 .blocks-gallery-item {
		width: calc((100% - 16px * 4) / 5);
		margin-right: 16px;
	}
	.wp-block-gallery.columns-5 .blocks-gallery-item:last-child, .wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n) {
		margin-right: 0;
	}
}

.wp-block-gallery.columns-6 .blocks-gallery-item {
	width: 100%;
	margin-right: 0;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.wp-block-gallery.columns-6 .blocks-gallery-item {
		width: calc((100% - 16px * 5) / 6);
		margin-right: 16px;
	}
	.wp-block-gallery.columns-6 .blocks-gallery-item:last-child, .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n) {
		margin-right: 0;
	}
}

/* wp-block-quote styles */
.wp-block-quote {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #dadfde;
	border-radius: 4px;
	padding: 34px;
	line-height: 40px;
	background: #f6f4f2;
}

.wp-block-quote p {
	font-size: 18px;
	line-height: 40px;
}

.wp-block-quote p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote cite {
	font-size: 15px;
	font-style: italic;
}

.wp-block-quote.is-style-large {
	padding: 34px;
	margin-right: auto;
	margin-left: auto;
}

.wp-block-quote.is-style-large p {
	font-size: 24px;
}

/* wp-block-file styles */
.wp-block-file a.wp-block-file__button {
	background: #455d58;
	color: #fff;
	font-size: 15px;
	line-height: 18px;
	padding: 10px 20px;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.05em;
	transition: .3s;
	text-decoration: none;
}

.wp-block-file a.wp-block-file__button:hover, .wp-block-file a.wp-block-file__button:visited, .wp-block-file a.wp-block-file__button:focus, .wp-block-file a.wp-block-file__button:active {
	cursor: pointer;
	background-color: #fc9285;
}

/* wp-block-code styles */
/* wp-block-preformatted styles */
/* wp-block-pullquote styles */
.wp-block-pullquote {
	border-top: 4px solid #dadfde;
	border-bottom: 4px solid #dadfde;
}

.wp-block-pullquote p:last-of-type {
	margin-bottom: 0;
}

.wp-block-pullquote blockquote {
	border: 0;
	padding: 0;
	background: transparent;
	margin: 0;
}

.wp-block-pullquote.is-style-solid-color {
	padding-left: 40px;
	padding-right: 40px;
	background: #dadfde;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
}

.wp-block-pullquote.is-style-solid-color blockquote.has-text-color p, .wp-block-pullquote.is-style-solid-color blockquote.has-text-color cite {
	color: inherit;
}

/* wp-block-table styles */
/* wp-block-verse styles */
pre.wp-block-verse {
	white-space: pre-wrap;
}

/* wp-block-group styles */
.wp-block-group.has-background {
	padding: 16px;
}

.wp-block-group .wp-block-group__inner-container > * {
	margin-bottom: 30px;
}

.wp-block-group .wp-block-group__inner-container > *:last-child {
	margin-bottom: 0;
}

/* wp-block-button styles */
.wp-block-button__link {
	text-decoration: none;
	border-radius: 0;
	font-size: 15px;
	letter-spacing: .05em;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 26px;
	background-color: #455d58;
}

.wp-block-button__link:hover, .wp-block-button__link:focus, .wp-block-button__link:active, .wp-block-button__link:visited {
	color: #fff;
	text-decoration: none;
	background: #fc9285;
}

.is-style-outline .wp-block-button__link:hover, .is-style-outline .wp-block-button__link:focus, .is-style-outline .wp-block-button__link:active, .is-style-outline .wp-block-button__link:visited {
	border-color: transparent;
}

/* wp-block-columns styles */
.wp-block-columns:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.wp-block-columns {
		flex-wrap: nowrap;
	}
}

.wp-block-column {
	flex-basis: 100%;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.wp-block-column {
		flex-basis: 0;
		flex-grow: 1;
	}
}

.wp-block-column:nth-child(2n), .wp-block-column:not(:first-child) {
	margin-left: 0;
}

@media (min-width: 768px) {
	.wp-block-column:nth-child(2n), .wp-block-column:not(:first-child) {
		margin-left: 16px;
	}
}

.wp-block-column > *:last-child {
	margin-bottom: 0;
}

/* wp-block-media-text styles */
/* wp-block-separator styles */
/* wp-block-archives styles */
/* wp-block-calendar styles */
/* wp-block-categories styles */
/* wp-block-latest-comments styles */
.wp-block-latest-comments {
	padding-left: 0;
}

/* wp-block-latest-posts styles */
.wp-block-latest-posts.wp-block-latest-posts__list {
	padding-left: 0;
}

@media (min-width: 768px) {
	.wp-block-latest-posts.columns-2 li {
		width: calc((100% / 2) - 16px);
	}
	.wp-block-latest-posts.columns-3 li {
		width: calc((100% / 3) - 16px);
	}
	.wp-block-latest-posts.columns-4 li {
		width: calc((100% / 4) - 16px);
	}
	.wp-block-latest-posts.columns-5 li {
		width: calc((100% / 5) - 16px);
	}
	.wp-block-latest-posts.columns-6 li {
		width: calc((100% / 6) - 16px);
	}
}

/* wp-block-search styles */
.wp-block-search .wp-block-search__input {
	margin: 0;
}

/* wp-block-rss styles */
.wp-block-rss.is-grid li {
	margin: 0 16px 16px 0;
}

@media (min-width: 768px) {
	.wp-block-rss.columns-2 li {
		width: calc((100% / 2) - 16px);
	}
	.wp-block-rss.columns-3 li {
		width: calc((100% / 3) - 16px);
	}
	.wp-block-rss.columns-4 li {
		width: calc((100% / 4) - 16px);
	}
	.wp-block-rss.columns-5 li {
		width: calc((100% / 5) - 16px);
	}
	.wp-block-rss.columns-6 li {
		width: calc((100% / 6) - 16px);
	}
}

/* wp-block-video styles */
/* wp-block-cover styles */
.wp-block-cover.alignleft, .wp-block-cover.alignright {
	max-width: 50%;
}

/* wp-block-audio styles */
/* common editor block styles */
/* Width of blocks */
.wp-block {
	max-width: 780px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
	max-width: 1620px;
	margin-left: auto;
	margin-right: auto;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
	max-width: none;
}

/* wp-block-paragraph editor styles */
/* wp-block-image editor styles */
/* wp-block-gallery editor styles */
/* wp-block-quote editor styles */
/* wp-block-file editor styles */
/* wp-block-code editor styles */
/* wp-block-preformatted editor styles */
/* wp-block-pullquote editor styles */
.wp-block-pullquote.is-style-solid-color {
	border-top: 0;
	border-bottom: 0;
}

/* wp-block-table editor styles */
/* wp-block-verse editor styles */
/* wp-block-group editor styles */
/* wp-block-button editor styles */
/* wp-block-columns editor styles */
@media (min-width: 768px) {
	.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
		flex-wrap: nowrap;
	}
}

.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"] {
	flex-basis: 100%;
}

@media (min-width: 768px) {
	.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
		flex-basis: 0;
		flex-grow: 1;
	}
}

.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(2n), .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout:not(:first-child) {
	margin-left: 0;
}

@media (min-width: 768px) {
	.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(2n), .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout:not(:first-child) {
		margin-left: 16px;
	}
}

/* wp-block-media-text editor styles */
/* wp-block-separator editor styles */
/* wp-block-archives editor styles */
/* wp-block-calendar editor styles */
/* wp-block-categories editor styles */
/* wp-block-latest-comments editor styles */
/* wp-block-latest-posts editor styles */
/* wp-block-search editor styles */
/* wp-block-rss editor styles */
.wp-block-rss.is-grid li {
	margin: 0 16px 16px 0;
}

/* wp-block-video editor styles */
/* wp-block-cover editor styles */
/* wp-block-audio editor styles */
:root .has-color-1-color {
	color: #fc9285;
}

:root .has-color-1-background-color {
	background-color: #fc9285;
}

:root .has-color-2-color {
	color: #455d58;
}

:root .has-color-2-background-color {
	background-color: #455d58;
}

:root .has-color-3-color {
	color: #dadfde;
}

:root .has-color-3-background-color {
	background-color: #dadfde;
}

:root .has-color-4-color {
	color: #faf7f2;
}

:root .has-color-4-background-color {
	background-color: #faf7f2;
}
