.wp-block-quote {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $themeColor3;
    border-radius: 4px;
    padding: 34px;
    line-height: 40px;
    background: $themeColor5;

    p {
        font-size: 18px;
        line-height: 40px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    cite {
        font-size: 15px;
        font-style: italic;
    }

    &.is-style-large {
        padding: 34px;
        margin-right: auto;
        margin-left: auto;

        p {
            font-size: 24px;
        }

        cite {

        }
    }
}