.alignleft {

    /*rtl:ignore*/
    float: left;

    /*rtl:ignore*/
    margin-right: 40px;
    margin-bottom: 30px;
}

.alignright {

    /*rtl:ignore*/
    float: right;

    /*rtl:ignore*/
    margin-left: 40px;
    margin-bottom: 30px;
}

.aligncenter {
    clear: both;
    @include center-block;
    margin-bottom: 30px;
}
