.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area {
    margin-bottom: 100px;
    padding: 0 10px;
    @include respond-to(sm) {
        padding: 0 25px;
    }
    @include respond-to(md) {
        padding: 0 50px;
    }

    > * {
        max-width: $content-width;
        margin-right: auto;
        margin-left: auto;
    }

    .comments-title {
        margin-bottom: 50px;
    }
}

.comment-navigation {
    margin-bottom: 25px;
}

.comment-list {
    list-style: none;
    padding: 0;

    .comment {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }

        &-body {
            position: relative;
            border: 1px solid $themeColor3;
            background: #fff;
            min-height: 126px;
            padding: 120px 30px 30px 30px;
            @include respond-to(sm){
                padding: 30px 30px 30px 120px;
            }
        }

        &-meta {
            margin-bottom: 16px;
        }

        &-author {
            .avatar {
                border-radius: 50%;
                position: absolute;
                left: 25px;
                top: 30px;
            }

            .says {
                display: none;
            }

            .fn {
                font-weight: normal;
                font-size: 30px;
                line-height: 39px;
                font-family: $font__heading;
            }
        }

        &-metadata {
            font-size: 15px;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: $themeColor1;
                }
            }
        }

        &-content {
            line-height: 40px;
        }

        .reply {
            position: absolute;
            right: 30px;
            top: 30px;
            font-size: 15px;
        }
    }

    .pingback,
    .trackback {
        .comment-body {
            padding: 30px;
            min-height: auto;
        }
    }

    .children {
        list-style: none;
        margin-top: 50px;
        padding: 0;
    }

    .comment-awaiting-moderation{
        display: block;
        margin: 20px 0;
        font-size: 13px;
    }
}

.comment-respond {
    margin-top: 80px;
    margin-bottom: 100px;

    .comment-reply-title {
        margin-bottom: 50px;

        a {
            display: inline-block;
            margin-left: 20px;
            font-size: 18px;
        }
    }
}

.comment-form {
    border: 1px solid $themeColor3;
    background: #fff;
    padding: 20px;
    @include respond-to(sm){
        padding: 35px 45px 45px;
    }

    .comment-notes {
        font-size: 15px;
    }

    .form-submit {

        button {
         @extend .animated-button;
        }
    }
}