.main-navigation {
    color: $themeColor2;
    font-size: 15px;

    .primary-menu > ul,
    .primary-menu {
        > li {
            width: 100%;
            padding: 0 10px;
            margin-bottom: 15px;
            @include respond-to(sm) {
                width: 50%;
                padding: 0 15px;
            }
            @include respond-to(md) {
                padding: 0 30px;
                width: 25%;
                margin-bottom: 50px;
            }
            @include respond-to(lg) {
                padding: 0 100px;
            }
            height: auto;

            @include respond-to(sm) {
                &:last-child,
                &:nth-child(2n) {
                    &:after {
                        display: none;
                    }
                }
            }

            @include respond-to(md) {
                &:nth-child(2n) {
                    &:after {
                        display: block;
                    }
                }
                &:last-child,
                &:nth-child(4n) {
                    &:after {
                        display: none;
                    }
                }
            }

            @include respond-to(md) {
                &:nth-child(4n) {
                    padding-right: 0;
                }
                &:nth-child(5n),
                &:first-child {
                    padding-left: 0;
                }
            }


            &:after {
                @include respond-to(sm) {
                    content: '';
                }
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 2px;
                background: linear-gradient(to bottom, $themeColor3 0%, rgba($themeColor3, 0) 100%);

            }

            > a {
                padding: 0;
                font-size: 24px;
                line-height: 30px;
                @include respond-to(md) {
                    font-size: 28px;
                    line-height: 34px;
                }
                @include respond-to(lg) {
                    font-size: 38px;
                    line-height: 44px;
                }
                font-family: $font__heading;

                &:not(:last-child) {
                    margin-bottom: 10px;
                    @include respond-to(md) {
                        margin-bottom: 20px;
                    }
                    @include respond-to(lg) {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        ul {
            flex-direction: column;

            ul {
                padding-left: 15px;
                display: none;

                &.toggled-on {
                    display: flex;
                }
            }

            li {

                &:hover > ul,
                &.focus > ul {
                }
            }

            a {
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
        }
    }

    li {
        display: block;
        position: relative;
        margin: 0;

        &:hover {
            & > a {
                color: $themeColor1;
            }

            & > .dropdown-toggle {
                background: linear-gradient($themeColor1, $themeColor1), linear-gradient($themeColor1, $themeColor1);
                background-size: 14px 2px, 2px 14px;
                background-position: center;
                background-repeat: no-repeat;

                &.toggled-on {
                    background-size: 14px 2px, 2px 0;
                }
            }
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 8px 0;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
        color: $themeColor1;
    }

    .menu-item-has-children {
        > a {
            padding-right: 25px;
        }
    }

    .dropdown-toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
        color: inherit;
        width: 20px;
        height: 20px;
        padding: 0;
        background: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
        background-position: center;
        background-size: 14px 2px, 2px 14px;
        background-repeat: no-repeat;
        outline: none;

        &.toggled-on {
            background-size: 14px 2px, 2px 0;
        }
    }
}

.primary-menu-more,
.header-menu-container {
    font-size: 15px;

    .header-menu {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        ul {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            top: 120%;
            transition: .3s;
            background: #fff;
            box-shadow: 0 0 20px rgba($themeColor2, .1);
            padding-top: 10px;
            padding-bottom: 10px;
            z-index: 10;

            &.toleft {
                right: 0;
                left: auto;
            }

            ul {
                top: 100%;
                left: 100%;
                right: auto;

                &.toleft {
                    right: 100%;
                    left: auto;
                }
            }

            li {
                &:hover {
                    > ul {
                        top: 25%;
                    }

                    > a {
                        &:after {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }

            a {
                padding: 8px 15px;
                width: 200px;
                font-weight: normal;
                text-transform: none;
                color: $themeColor2;
            }

            .menu-item-has-children {
                > a {
                    &:after {
                        top: 12px;
                    }
                }
            }
        }
    }

    li {
        position: relative;
        padding: 0;
        margin: 0;

        &:hover {
            > ul {
                top: 100%;
                opacity: 1;
                visibility: visible;
            }

            > a {
                text-decoration: none;
                color: $themeColor1;
            }
        }
    }

    a {
        display: block;
        text-transform: uppercase;
        color: inherit;
        font-weight: 600;
        padding: 10px;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
        color: $themeColor1;
    }

    .menu-item-has-children {
        > a {
            padding-right: 25px;
            position: relative;

            &:after {
                content: fa-content($fa-var-chevron-down);
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                right: 10px;
                top: 14px;
                font-size: 10px;
                transition: transform .3s;
            }
        }
    }
}

.primary-menu-more-toggle {
    padding: 6px 0 0 20px;
    background: transparent;
    outline: none;
    color: inherit;
    height: 42px;

    svg {
        fill: currentColor;
    }

    &.is-empty {
        display: none;
    }

    &:focus,
    &:active,
    &:hover {
        color: inherit;
        background: transparent;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    margin-right: auto;
    margin-left: auto;

    .nav-links {
        display: flex;
    }

    .nav-previous {
        flex: 1 0 50%;
    }

    .nav-next {
        text-align: end;
        flex: 1 0 50%;
    }
}

.post-navigation {
    max-width: $content-width-wide;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-top: 2px solid $themeColor3;
    border-bottom: 2px solid $themeColor3;
    padding: 60px 50px;

    &-wrapper {
        margin-bottom: 100px;
        margin-top: 100px;
        padding: 0 10px;
        @include respond-to(sm) {
            padding: 0 25px;
        }
        @include respond-to(md) {
            padding: 0 50px;
        }
    }

    .nav-links {
        flex-wrap: wrap;
        @include respond-to(sm) {
            flex-wrap: nowrap;
        }

        svg {
            fill: currentColor;
            position: absolute;
            top: 10px;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: $themeColor1;
            }
        }

        .nav-subtitle {
            display: inline-block;
            font-weight: 500;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            margin-bottom: 23px;
        }

        .nav-title {
            font-family: $font__heading;
            font-size: 30px;
            line-height: 39px;
        }

        .title-wrapper {
            position: relative;
        }

        .nav-previous {
            flex: 1 0 100%;
            @include respond-to(sm) {
                flex: 1 0 50%;
                padding-right: 20px;
            }

            .title-wrapper {
                padding-left: 45px;
            }

            svg {
                left: 0;
            }

            + .nav-next {
                margin-top: 40px;
                @include respond-to(sm) {
                    margin-top: 0;
                }
            }
        }

        .nav-next {
            flex: 1 0 100%;
            @include respond-to(sm) {
                flex: 1 0 50%;
                padding-left: 20px;
            }

            .title-wrapper {
                padding-right: 45px;
            }

            svg {
                right: 0;
            }
        }
    }
}

.navigation {
    &.pagination {
        margin: 100px 0;

        > * {
            max-width: $content-width;
            margin-right: auto;
            margin-left: auto;
        }

        .nav-links {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .page-numbers {
            margin: 10px;
            background: #fff;
            width: 55px;
            height: 55px;
            border: 1px solid $themeColor3;
            text-align: center;
            line-height: 55px;
            font-size: 15px;
            color: inherit;
            text-decoration: none;

            &.current,
            &:hover {
                background: $themeColor2;
                border-color: transparent;
                color: #fff;
            }

            &.dots,
            &.next,
            &.prev {
                border: 0;
                width: auto;
                background: transparent;
                color: inherit;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: .05em;

                svg {
                    margin: 0 10px -3px;
                    fill: currentColor;
                }
            }

            &.prev {
                svg {
                    transform: rotate(180deg);
                }
            }

            &.next,
            &.prev {
                &:hover {
                    color: $themeColor1;
                }
            }
        }
    }
}