/*!
 * Getwid Style Kit v1.0.0
 * Copyright 2020 MotoPress
 * Import this file to the sass/scss file of your theme, which is to be loaded in block editor.
 * Example: @import "getwid-style-kit/scss/editor"
 *
 * For more information visit https://github.com/mototeam/
 * License GNU GPL v2 or later.
 */

// Variables
@import "variables";
// Core Blocks general styles
@import "core-blocks/style";
// Core Blocks only block editor styles
@import "core-blocks/editor";
// Colors
@import "colors";