input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
    color: $color__text-input;
    border: 1px solid $color__border-input;
    border-radius: 0;
    padding: 16px 18px;
    line-height: 21px;
    display: block;
    width: 100%;
    background: $themeColor4;
}

select {
    border: 1px solid $color__border-input;
    height: 55px;
    padding: 0 30px 0 16px;
    appearance: none;
    background-image: url("images/angle_down.svg");
    background-repeat: no-repeat;
    background-position: right 20px top 24px;
}

textarea {
    width: 100%;
}

label {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
    display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    margin: 3px 5px 0 0;

    + label {
        display: inline;
    }
}

form {
    > * {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.an_mailchimp_wrapper {
    form {
        &:after {
            display: table;
            content: '';
            clear: both;
        }

        > * {
            float: left;
            width: 50%;
            padding: 0 30px;
        }

        label {
            width: 100%;
        }

        input[type="text"],
        input[type="email"] {
            border: 0;
            border-bottom: 1px solid rgba(#fff, .5);
            color: #fff;
            padding-left: 0;

            &::placeholder {
                color: currentColor;
            }
        }

        .mpam-submit {
            background: transparent;
            color: $themeColor1;

            &:hover {
                background: transparent;
            }
        }

        p {
            &:last-child {
                width: 100%;
                text-align: center;
            }
        }
    }
}