input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color__text-input;
    border: 1px solid $color__border-input;
    border-radius: 0;
    padding: 16px 18px;
    line-height: 21px;
    display: block;
    width: 100%;
    background: $themeColor4;
}

select {
    border: 1px solid $color__border-input;
    height: 55px;
}

textarea {
    width: 100%;
}

label {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
    display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    margin: 3px 5px 0 0;
}

form {
    > * {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}