a {
    color: $color__link;
    text-decoration: none;
    transition: .3s;

    &:visited {
        color: $color__link-visited;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
        text-decoration: underline;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}

//.comment-content,
//.widget,
//.entry-content {
//    a {
//        text-decoration: underline;
//    }
//
//    .wp-block-button__link,
//    button,
//    input[type="button"],
//    input[type="reset"],
//    input[type="submit"],
//    .button,
//    .more-link {
//        text-decoration: none;
//    }
//}