.header-sidebar {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    @include respond-to(sm) {
        flex-wrap: nowrap;
    }

    > * {
        @include respond-to(sm) {
            flex: 1 0 33.33%;
        }
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;

        &:last-child {
            text-align: right;
        }

        &:first-child {
            text-align: left;
        }
    }
}

.widget {
    margin: 0 0 1.5em;

    // Make sure select elements fit in widgets.
    select {
        max-width: 100%;
    }
}