$color__background-body: #faf7f2;
$color__background-screen: #f1f1f1;
$color__background-hr: #dadfde;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #455d58;
$color__text-input-focus: #455d58;
$color__link: #fc9285; //royalblue
$color__link-visited: #fc9285; //purple
$color__link-hover: #fc9285; //midnightblue
$color__text-main: #455d58;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #dadfde;

$themeColor1: #fc9285;
$themeColor2: #455d58;
$themeColor3: #dadfde;
$themeColor4: #faf7f2;
$themeColor5: #f6f4f2;