.datepick {
    max-width: 100%;
    color: inherit;
    border: 0;
    border-radius: 0;
    padding: 35px 0;
    box-shadow: 0px 10px 20px rgba(58, 64, 73, 0.1);

    @include respond-to(xs) {
        width: auto !important;
    }

    * {
        color: inherit;
    }

    .datepick-nav, .datepick-ctrl {
        background: transparent;
        color: inherit;
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    .datepick-nav {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 0 30px;
    }

    .datepick-cmd-today {
        flex: 1 0 auto;
        width: auto;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: .02em;

        &:hover {
            background: transparent;
            text-decoration: none;
            color: $themeColor1;
        }

    }

    .datepick-cmd-next,
    .datepick-cmd-prev {
        padding: 0;
        background: #f7f7f7;
        border-radius: 50%;
        overflow: hidden;
        width: 22px;
        height: 22px;
        text-align: center;
        color: $themeColor2;

        &:before {
            display: block;
            width: 100%;
            content: fa-content($fa-var-chevron-left);
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            font-size: 10px;
            line-height: 22px;
        }

        &:hover {
            text-decoration: none;

            &:not(.datepick-disabled) {
                color: #fff;
                background: $themeColor1;
            }
        }
    }

    .datepick-cmd-next {
        &:before {
            content: fa-content($fa-var-chevron-right);
            padding-left: 2px;
        }
    }

    .datepick-month-row {
        display: flex;
        flex-wrap: wrap;
    }

    .datepick-month {
        border: 0;
        padding: 0 30px;
        width: 100%;
        @include respond-to(sm) {
            width: 310px;
        }

        .datepick-month-header {
            display: flex;
            justify-content: center;
            background: transparent;
            font-size: 15px;
            letter-spacing: 0.02em;
            font-weight: 600;
            height: 22px;
            margin-bottom: 5px;

            select {
                height: auto;
                padding: 0 20px 0 0;
                margin-right: 15px;
                background-color: transparent;
                background-position: top 9px right 5px;
                background-size: 9px;
                color: inherit;

                &:last-child {
                    margin-right: 0;
                }

                &:focus,
                &:active {
                    outline: none;
                }
            }
        }

        table {
            margin: 0;
            border-collapse: separate;
            border-spacing: 6px;

            thead {
                border: 0;
            }

            th {
                background: transparent;
                color: inherit;
                border: 0;
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.02em;
            }

            td {
                border: 0;
                background: transparent;

                .mphb-date-cell {
                    background: #f7f7f7;
                    color: inherit;
                    font-size: 15px;
                    letter-spacing: .02em;
                    padding: 0;
                    line-height: 30px;
                    height: 30px;
                    width: 30px;
                }

                .mphb-extra-date {
                    background: transparent;
                }

                .mphb-past-date {
                    opacity: .5;
                }

                .mphb-check-in-date,
                .datepick-selected,
                .datepick-highlight {
                    background: #58a193;
                    color: #fff;
                }

                .mphb-booked-date.mphb-date-check-in.mphb-date-check-out,
                .mphb-booked-date {
                    background-image: linear-gradient(135deg, #dadfde 6.25%, #f7f7f7 6.25%, #f7f7f7 50%, #dadfde 50%, #dadfde 56.25%, #f7f7f7 56.25%, #f7f7f7 100%);
                    background-size: 11.31px 11.31px;
                    position: relative;
                    transform: translateZ(0);
                    overflow: hidden;
                    color: lighten($themeColor2, 25%);
                }

                .mphb-available-date {
                    position: relative;
                    transform: translateZ(0);
                }

                .mphb-booked-date.mphb-date-check-out.mphb-date-check-in {
                    &:before {
                        display: none;
                    }
                }

                .mphb-booked-date,
                .mphb-available-date {
                    &.mphb-date-check-out,
                    &.mphb-date-check-in {
                        background-image: linear-gradient(135deg, #dadfde 6.25%, #f7f7f7 6.25%, #f7f7f7 50%, #dadfde 50%, #dadfde 56.25%, #f7f7f7 56.25%, #f7f7f7 100%);
                        background-size: 11.31px 11.31px;
                        color: $themeColor2;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            border-top: 16px solid #f7f7f7;
                            border-left: 16px solid #f7f7f7;
                            border-bottom: 16px solid transparent;
                            border-right: 16px solid transparent;
                            z-index: -1;

                        }
                    }

                    &.mphb-date-check-out {
                        &:before {
                            border-bottom: 16px solid #f7f7f7;
                            border-right: 16px solid #f7f7f7;
                            border-top: 16px solid transparent;
                            border-left: 16px solid transparent;
                        }
                    }
                }


            }
        }
    }

    .datepick-ctrl {
        padding: 0 30px;
        margin-top: 10px;

        a {
            text-transform: uppercase;

            &:hover {
                color: $themeColor1;
                background: transparent;
            }
        }
    }
}

.mphb-datepick-popup{
    span.mphb-date-cell {
        opacity: .5;
    }
}